.pre-view-list {
  background-color: #a9ccff33;
  border: none;
}

.pre-view-title {
  font-weight: bold;
  font-size: 11px;
  color: #0d6efd;
}

.pre-view-main-title {
  font-weight: bold;
  font-size: 18px;
  color: #0d6efd;
}

.pre-view-desc {
  color: #2d3b4f;
}
